/* nastavení těla stránky */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../img/geometric_pattern_navy_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* nastavení záhlaví */
header {
    color: rgb(95, 93, 93);
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
    border: solid 9px rgb(95, 93, 93);
    background-color: rgba(255, 255, 255, 0.801);
    border-radius: 10px;
}

header h1 {
    font-size: 4em;

}

header p {
    font-size: 2em;
}

/* nastavení hlavní časti */

main {
    width: 1200px;
    margin: 50px auto;
    text-align: center;
    border: solid 9px rgb(95, 93, 93);
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.801);
    border-radius: 10px;
}

main h2 {
    font-size: 2em;
    color: rgb(95, 93, 93);
}

footer {
    background-color: rgb(95, 93, 93);
    border: 9px solid rgb(95, 93, 93);
    border-radius: 10px;
    text-align: center;
}

/* nastavení flexboxu */
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

.flex-container div {
    flex: 1 1 calc(30% - 20px);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: rgb(95, 93, 93);
    border: 2px solid rgb(95, 93, 93);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
    font-size: 15px;
    font-weight: bold;
    color: black;
}

/* responzivní desigh */

@media screen and (max-width: 1200px) {
    main {
        width: 90%;
    }

    .flex-container {
        flex-direction: collumn;
    }
}

/*odkazy*/

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: none;
}

a:active {
    color: red;
    text-decoration: none;
}